/* colors */
.white {
  color: #fff;
}

.bg-gray-100 {
  background-color: var(--gray-100);
}

.gray-300 {
  color: var(--gray-300);
}

.primary-500 {
  color: var(--primary-500);
}

.center-text {
  text-align: center;
}

.error-400 {
  color: var(--error-400);
}

.error-500 {
  color: var(--error-500);
}

.border-error-400 {
  border-color: var(--error-400);
}

/* Margins */
.mb-8 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

/* Flex & Grid */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.gap-4 {
  gap: 1rem;
}

.items-center {
  align-items: center;
}

/* Width */
.fit-content {
  width: fit-content;
}

/* weight */

.weight-xs {
  font-weight: bold;
}
